<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>

    <div class="containerCK">

        <form action="">

            <div class="row">

                <div class="col">

                    <h3 class="title">billing address</h3>

                    <div class="inputBox">
                        <span>Full Name :</span>
                        <input type="text" placeholder="Your full name">
                    </div>
                    <div class="inputBox">
                        <span>Email :</span>
                        <input type="email" placeholder="example@example.com">
                    </div>
                    <div class="inputBox">
                        <span>Address :</span>
                        <input type="text" placeholder="Room - Street - Locality">
                    </div>
                    <div class="inputBox">
                        <span>City :</span>
                        <input type="text" placeholder="Your city">
                    </div>

                    <div class="flex">
                        <div class="inputBox">
                            <span>Country :</span>
                            <input type="text" placeholder="Your country">
                        </div>
                        <div class="inputBox">
                            <span>Zip code :</span>
                            <input type="text" placeholder="Enter your code">
                        </div>
                    </div>

                </div>
                <div class="col">

                    <h3 class="title">payment</h3>

                    <div class="inputBox">
                        <span>Cards accepted :</span>
                        <img src="~/Images/card_img.png" alt="">
                    </div>
                    <div class="inputBox">
                        <span>Name on card :</span>
                        <input type="text" placeholder="Your name">
                    </div>
                    <div class="inputBox">
                        <span>Credit card number :</span>
                        <input type="number" placeholder="1111-2222-3333-4444">
                    </div>
                    <div class="inputBox">
                        <span>Exp month :</span>
                        <input type="text" placeholder="Month">
                    </div>

                    <div class="flex">
                        <div class="inputBox">
                            <span>Exp year :</span>
                            <input type="number" placeholder="Year">
                        </div>
                        <div class="inputBox">
                            <span>CVV :</span>
                            <input type="text" placeholder="1234">
                        </div>
                    </div>

                </div>

            </div>

            <input type="submit" value="Purchase" class="submit-btn">

        </form>

    </div>
    <div>
        <a asp-controller="home" asp-action="Index">Back to List</a>
    </div>
    <style>
        {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            outline: none;
            border: none;
            text-transform: capitalize;
            transition: all .2s linear;
        }

        .containerCK {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 25px;
            min-height: 100vh;
            / background: linear-gradient(90deg, #2ecc71 60%, #27ae60 40.1%);
            */
        }

            .containerCK form {
                padding: 20px;
                width: 700px;
                background: #fff;
                box-shadow: 0 5px 10px rgba(0,0,0,.1);
            }

                .containerCK form .row {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 15px;
                }

        .container form .row .col {
            flex: 1 1 250px;
        }

        .containerCK form .row .col .title {
            font-size: 20px;
            color: #333;
            padding-bottom: 5px;
            text-transform: uppercase;
        }

        .containerCK form .row .col .inputBox {
            margin: 15px 0;
        }

        .container form .row .col .inputBox span {
            margin-bottom: 10px;
            display: block;
        }

        .containerCK form .row .col .inputBox input {
            width: 100%;
            border: 1px solid #ccc;
            padding: 10px 15px;
            font-size: 15px;
            text-transform: none;
        }

            .containerCK form .row .col .inputBox input:focus {
                border: 1px solid #000;
            }

        .containerCK form .row .col .flex {
            display: flex;
            gap: 15px;
        }

            .containerCK form .row .col .flex .inputBox {
                margin-top: 5px;
            }

        .container form .row .col .inputBox img {
            height: 34px;
            margin-top: 5px;
            filter: drop-shadow(0 0 1px #000);
        }

        .containerCK form .submit-btn {
            width: 100%;
            padding: 12px;
            font-size: 17px;
            background: #FFCC00;
            color: #fff;
            margin-top: 5px;
            cursor: pointer;
        }

            .containerCK form .submit-btn:hover {
                background: #2ecc71;
            }

    </style>
</body>
